html{
    font-size: 14px;
}
body{
  width: 100vw;
}
.app-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background-color:hsl(218, 28%, 13%) ;    
  }
  @media (max-width: 375px) {
    .app-container {
        position:relative;
        top: 0;        
        bottom: 0;
        width: 100%;
        background-color:hsl(218, 28%, 13%) ;    
      }
  }
